.primary-menu {
    margin-top: 3em;

    > .list + .list {
        margin-top: 1em;
    }

    > .list > .link {
        display: inline-block;
        padding-left: 1.5em;
        font-size: 1.5rem;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        opacity: .8;

        &:hover {
            opacity: 1;
        }
    }

    @media only screen and (min-width: 768px) {
        display: flex;
        gap: 1em;
        margin-top: 0;

        > .list + .list {
            margin-top: 0;
        }

        > .list > .link {
            padding-left: 0;
            font-size: 1.2rem;
            text-transform: lowercase;
        }
    }
}